body {
	font-family: Arial, Verdana;
}

button {
	width: 120px;
	height: 30px;
	background-color: yellow;
	color: orange;
	font-weight: bold;
	margin: 0px 5px 10px 5px;
}

label {
	float: left;
	width: 100px;
}